body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

/* Modo claro */
.app.light {
  background-color: #f8f9fa;
  color: #000000;
}

.app.light button {
  background-color: #48322E;
  color: #ffffff;
}

.app.light button:hover {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #48322E;
}

/* Modo oscuro */
.app.dark {
  background-color: #121212;
  color: #ffffff;
}

.app.dark button {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #48322E;
}

.app.dark button:hover {
  background-color: #48322E;
  color: #ffffff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #DFD0AE;
  padding: 0.8rem 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 999999;
  height: 100px;
}

/* Logo */
.logo-header {
  width: 60px;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
  color: #5C4533;
  margin: 0 auto;
  padding-right: 0.5rem;
}

/* Icono de menú para móviles */
.menu-icon {
  display: none; /* Oculto en pantallas grandes */
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  cursor: pointer;
  z-index: 10; /* Para que el icono esté sobre el menú al abrir */
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #5C4533;
  margin: 3px 0;
  border-radius: 2px;
  transition: transform 0.3s ease; /* Animación de las barras */
}

/* Menú de navegación */
.nav-menu ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  align-items: end;
}

.nav-menu ul li button {
  text-decoration: none;
}

.nav-menu ul li a {
  text-decoration: none;
  color: #5C4533;
  font-weight: bold;
  font-size: 1rem;
}

.nav-menu ul li a:hover {
  color: #E07A5F;
}

/* Estilos del botón del modo nocturno */
header button#darkMode {
  margin-left: 1rem;
  width: 40px;               /* Tamaño ligeramente mayor */
  height: 40px;
  font-size: 16px;           /* Tamaño de fuente más grande para los íconos */
  border: none;
  cursor: pointer;
  border-radius: 50%;        /* Completamente circular */
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f560; /* Fondo claro para modo día */
  color: #121212;            /* Color de ícono oscuro */
  box-shadow: 0 4px 8px rgba(100, 100, 100, 0.2); /* Sombra sutil */
}

header button#darkMode:hover {
  transform: scale(1.1);     /* Efecto de escala en hover */
}

header button#darkMode.dark { 
  background-color: #33333340; /* Fondo oscuro para modo noche */
  color: #f5f5f5;            /* Ícono claro para modo oscuro */
  box-shadow: 0 4px 8px rgba(100, 100, 100, 0.2); /* Sombra sutil */
}

/* Estilos responsivos */
@media (max-width: 760px) {
  /* Cambia el menú a icono de hamburguesa en pantallas pequeñas */
  .menu-icon {
    display: flex;
  }

  .nav-menu ul {
    display: none; /* Oculta el menú por defecto en móviles */
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #DFD0AE;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 200px;
    border-radius: 5px;
  }

  /* Muestra el menú al activar */
  .nav-menu.active ul {
    display: flex;
  }

  .nav-menu ul li {
    display: flex;
    width: 100%;
  }
  
  .nav-menu ul li:nth-child(5){
    justify-content: end;
    align-items: end;
  }

  /* Transformaciones de la animación del icono */
  .menu-icon.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .menu-icon.active .bar:nth-child(2) {
    opacity: 0; /* Oculta la barra central */
  }

  .menu-icon.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}

/*Estilo para los productos*/
.featured-products {
  padding: 1.5rem 2rem 2rem 2rem;
  background-color: #f8f9fa; /* Fondo claro para contraste */
}
.featured-products.dark {
  background-color: #333; /* Color de fondo oscuro */
  color: #fff;
}

.featured-products h4 {
  text-align: end;
  margin-bottom: 2rem;
  color: #555; /* Color marrón */
  font-family: 'Arial', sans-serif;
  font-size: 16px;
}

h2 {
  text-align: start;
  margin-bottom: 2rem;
  color: #5C4533; /* Color marrón */
  font-family: 'Arial', sans-serif;
}

.card {
  border: none; /* Eliminar el borde por defecto */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 1px 0px #DFD0AE; /* Sombra para profundidad */
  transition: transform 0.2s; /* Transición suave */
}

.card:hover {
  transform: scale(1.05); /* Aumentar el tamaño al pasar el mouse */
}

.card-img-top {
  border-top-left-radius: 10px; /* Redondear bordes superiores */
  border-top-right-radius: 10px;
  height: 260px; /* Altura fija para las imágenes */
  object-fit: cover; /* Mantener el aspecto de la imagen */
}

.card-title {
  font-weight: bold; /* Título en negrita */
  color: #333; /* Color del texto */
}

.card-text {
  font-size: 1.2rem; /* Aumentar el tamaño del texto*/
  color: #5C4533; /* Color marrón */
}

.featured-products button {
  background-color: #75685F; /* Color marrón */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  padding: 0.5rem 1rem; /* Espaciado interno */
  color: white; /* Texto blanco */
  font-weight: bold; /* Texto en negrita */
}

.featured-products button:hover {
  background-color: #48322E; /* Color más oscuro al pasar el mouse */
}

/*Estilo para About, Terms y Privacy*/
.content-section {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  text-align: justify;
}
.content-section.dark {
background-color: #333; /* Color de fondo oscuro */
  color: #fff;
}

/* Estilos del formulario de Login */
.login-container {
  max-width: 400px;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 10px;
  background-color: #f8f9fa;
}

.app.dark .login-container {
  background-color: #333;
  color: #fff;
}

.login-container h2 {
  color: #5C4533;
  text-align: start;
  margin-bottom: 1.5rem;
  font-family: Arial, sans-serif;
}

.app.dark .login-container h2 {
  color: #DFD0AE;
}

.login-container .form-group label {
  font-weight: bold;
  color: #5C4533;
}

.app.dark .login-container .form-group label {
  color: #DFD0AE;
}

.login-container .form-group input {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0.5rem;
}

.app.dark .login-container .form-group input {
  background-color: #444;
  color: #fff;
  border: 1px solid #777;
}

.login-container .btn-primary {
  width: 100%;
  background-color: #75685F;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  padding: 0.5rem 0;
  color: #ffffff;
  transition: background-color 0.3s ease;
}

.login-container .btn-primary:hover {
  background-color: #48322E;
}

.app.dark .login-container .btn-primary {
  background-color: #DFD0AE;
  color: #333;
}

.app.dark .login-container .btn-primary:hover {
  background-color: #E07A5F;
  color: #fff;
}

.login-container .alert {
  border-radius: 5px;
  margin-bottom: 1rem;
  text-align: center;
}

/*Estilo para el footer*/
footer {
  padding: 20px;
  background-color: #75685F20;
  border-top: 1px solid #75685F;
  color: #75685F;
  text-align: center;
}

/* Estilos para la sección de enlaces */
.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap; /* Permite que los enlaces se ajusten en múltiples líneas en pantallas pequeñas */
  margin-bottom: 10px;
}

.footer-links.dark a {
  color: #DFD0AE;
}

.copy.dark p {
  color: #DFD0AE;
}

.footer-links a {
  color: #75685F;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #E07A5F;  /* Cambia de color al pasar el cursor */
}

.social-media img {
  width: 32px; /* Cambia el tamaño según necesites */
  margin: 0 10px; /* Espaciado entre las imágenes */
  transition: transform 0.2s; /* Suave aumento al pasar el mouse */
}

.social-media img:hover {
  transform: scale(1.1); /* Aumentar al pasar el mouse */
}

.copy{
  margin: 1rem;
}